/* variables.css */

/* Colores */
:root {
  --color-primario: #FF7E20;
  --color-secundario: #452A59;
  --color-fondo: #f2f2f2;
  --color-txt: #182850;
    --color-fondo2: white;
    --color-txt2: #FF7E20;
  }
  
  /* Tipografía */
  :root {
    --fuente-principal: 'Arial', sans-serif;
    --titulo: 1.5rem;
    --texto: 1rem;
  }
  
  